.red {
    font-size: 10em;
    color: 	#44aadd;
  }
  
  .btn {
    background-color: #44aadd;
  }
  
  .card {
    width: 20rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  